body {
  background: #f2f2f2;
  width: 100%;
  font-family: sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

h1.t-name,
h1.full-line {
  font-size: 30px;
  padding: 0;
}

h1,
h1.full-line {
  border-bottom: 1px solid #dddddd;
}

h2,/* par défaut*/
h3 {
  border-bottom: 1px dotted #dddddd;
}

h2#t1-nav {
  border-bottom: none;
}

h1.full-line {
  width: 100%;
}

h2 {
  font-size: 1.2em;
}

h1 {
  font-family: Linux Libertine;
}

#content {
  height: 100%;
  width: 100%;
}

.content-container/*:not(div.box-catlinks)*/ {
  background: #ffffff;
  margin: 15px auto;
  padding: 15px;
  width: 85%;
}

/*hr{
	border: 2px solid #808080 width:500px;
}*/

h2#t1-nav {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  overflow: ellipsis;
}

.intro,
h3#pol-a,
p.intro-descr,
div.p1,
ul.list-fonct {
  width: 100%;
}

h1.t-name p, 
h1#bio p, 
h2#training p, 
h2#exp-pro p{
width: 48%;
}

/* div.thumb p
{
  width: 100%;
} */

/* ul.list-fonct li {
  width: 150px;
} */

h3#pol-asso p {
  width: 100%;
}

.sum {
  width: 35%;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* p{
	font-size: 14px;
} */

.sum {
  background: #f8f9fa;
  border: 1px #a2a9b1 solid;
}

.sidebar-right {
  position:absolute;
top: 50px;
  right: 100px;
  bottom: 50px;
}

/*Tableau de droite*/
.tb-right tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

/*.tb-right tr.entete{
	background-color:#4682B4;
	color:#FFFFFF;
}*/

.tb-right {
  display: table;
  background: #f9f9f9;
  color: #000;
  font-size: 90%;
  line-height: 1.2em;
  float: right;
  clear: right;
  margin: 0 0 0.5em 1em;
  width: 400px;
  border: 1px solid #aaa;
  border-spacing: 5px;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: left;
}

article#left_side {
  margin-top: 5px;
}

.exposant {
  font-variant-position: super;
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

mark {
  background-color: #fff200;
}

div.box-catlinks,
div.box-bandeau {
  display: block;
  width: 1150px;
  background: #f8f9fa;
  border: 1px #a2a9b1 solid;
}

ul.catlinks {
  width: auto;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  white-space: normal;
  margin-left: 5px;
}

ul.bandeau-portatil {
  width: auto;
  list-style-type: none;
  padding: 15px;
  white-space: normal;
  text-align: center;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  white-space: normal;
}

ul.bandeau-portatil li {
  display: inline;
  margin-right: 5px;
  line-height: 1.5;
}

ul.catlinks li {
  display: inline;
  margin-right: 5px;
  line-height: 1.5;
}

ul.catlinks li,
a.cat {
  color: #0645ad;
  font-weight: bold;
  font-size: 14px;
}

span.picto {
  color: grey;
}

div.box-catlinks {
  height: auto;
  width: auto;
}

/* p:last-of-type{
	width: auto;
} */

/* #pol-p,
#fonct,
#distinctions,
#link-ex,
#ref,
#adds,
#connexes {
	width: 100%;
}
 */

span.re {
  display: block;
  text-indent: 3em;
}

div.intro,
p.p4,
.t-t {
  width: 100%;
}

div.bloc-logo {
  width: 100%;
}

.t-t {
  text-align: center;
}

.l-old-mdc {
  display: block;
  margin: 10px auto;
}

.logo-mdc {
  width: 100px;
}

.info-right,
.navboxToggle {
  float: right;
}

/* LINKS */
/* unvisited link */
a:link {
  color: #000000;
}

/* visited link */
a:visited {
  color: #001aff;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  background: #dddddd;
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: underline;
}

td.top-line {
  border-top: 1px solid #dddddd;
  margin-bottom: 0;
}

.sec-last-col {
  border-bottom: 2px solid #0033cc;
}

/* GALLERY */

div.p-right {
  margin: 0.5em 0 1.3em 1.4em;
  display: table;
  clear: right;
  float: right;
}

div.p-left {
  margin: 0.5em 0 1.3em 1.4em;
  display: table;
  float: left;
  clear: left;
}

div.thumb {
  width: auto;
  background-color: transparent;
  margin-bottom: 0.5em;
}

.thumbcaption {
  text-align: left;
}
.thumbcaption {
  border: 0;
  font-size: 94%;
}
.thumbcaption {
  text-align: left;
  line-height: 1.4em;
  padding: 3px;
}

div.thumbinner {
  border: 1px solid #c8ccd1;
  background-color: #f8f9fa;
  font-size: 94%;
}
div.thumbinner {
  padding: 3px;
  text-align: center;
  overflow: hidden;
}

h2#training p {
  background: #fff200;
}

div.navbox-container {
  border: 1px solid #aaa;
  width: 100%;
  display: table;
  background: #f9f9f9;
  color: #000;
  font-size: 90%;
  line-height: 1.2em;
  width: 100%;
  border: 1px solid #aaa;
}

.bottom-tab {
  width: 99%;
  margin: 5px auto;
}

th.title-tab {
  background-color: #ccccff;
}

.bottom-tab th {
  width: 100%;
  margin: auto;
}

/* ul.timeline-lists,
td.navbox-list {
  width: 70%;
} */

th.navbox-group {
  background: #ddddff;
  width: 20%;
}

ul.timeline-lists {
  list-style-type: none;
}

ul.timeline-lists li {
  display: table;
}

ul.multi-column {
  -moz-column-count: 2;
  -moz-column-gap: 2px;
  -moz-column-fill: auto;
  -webkit-column-count: 2;
  -webkit-column-gap: 2px;
  -webkit-column-fill: auto;
  column-count: 2;
  column-gap: 2px;
  column-fill: auto;
  list-style-position: inside;
}

.f-small {
  font-size: 10px;
  text-align: center;
  line-height: 1;
  font-weight: bold;
}

div.vertical-center-logo {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.w-lft {
  float: left;
  margin-left: 5px;
}

.navboxToggle {
  margin-right: 5px;
}

.navbox-even {
  background: #f0f0ff;
}

/* span.bloc-arrow {
  float: right;
}

.arrow {
  width: 100px;
}
 */

.text-center-left {
  vertical-align: sub;
}

/* h3#pol-gea p:nth-of-type(1n + 6) {
  width: 100%;
} */
