/* Rétablir le champ de recherche sur les grands écrans */

  /* Masquer le champ de recherche sur les petits écrans */
@media screen and (max-width: 768px) {
	.zone-search {
	  position: relative;
	  height: 40px;
	}
  
	#site_search {
	  display: none;
	}
  
	.search-icon {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background-color: #f5f5f5;
	  border: none;
	  cursor: pointer;
	}
  }
  